body {
	background-color: #404040;
	text-align: left;
}


*{
font-family: Georgia, Times, "Times New Roman", serif;
}

img {
	border-radius: 150px;
	height: 150px;
	width: 150px;
	float: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.bullet{
	padding: 0 0 0 550px;
}
