
    h1{
      font-family: courier;
      text-align: center;
      margin-top: 100px;
    }
    body{
      font-family: courier;
      background-image: url('http://hdwallpappers.com/images/wallpapers/Black-and-White-San-Francisco-Skyline-Wallpaper.png');
      color: white;
    }
    #content{
      margin-top: 80px;
      margin-left: 300px;
      margin-right: 300px;
      width: auto;
      height: 100%;
      text-align: left;
      position: absolute;
      overflow: scroll;
    }
    #footer{
      position: relative;
      left: 0px;
      bottom: 0px;
      top: 800px;
    }
   
